files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            # Pinpoint Conifg
            JAR_PATH=/var/app/current/application.jar

            # Datasource Conifg
            JDBC_URL="--spring.datasource.hikari.jdbc-url=@JDBC_URL"
            USERNAME="--spring.datasource.hikari.username=@USERNAME"
            PASSWORD="--spring.datasource.hikari.password=@PASSWORD"

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH $JDBC_URL @USERNAME @PASSWORD

container_commands:
  001-command:
      command: sed -i "s/@JDBC_URL=/${SPRING_DATASOURCE_HIKARI_RDS_HOST}/g" /sbin/appstart
  002-command:
      command: sed -i "s/@USERNAME=/${SPRING_DATASOURCE_HIKARI_USERNAME}/g" /sbin/appstart
  003-command:
      command: sed -i "s/@PASSWORD=/${SPRING_DATASOURCE_HIKARI_PASSWORD}/g" /sbin/appstart