files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # Datasource Conifg
            JDBC_URL="--spring.datasource.hikari.jdbc-url=@JDBC_URL"
            USERNAME="--spring.datasource.hikari.username=@USERNAME"
            PASSWORD="--spring.datasource.hikari.password=@PASSWORD"

            # OAuth
            GOOGLE_ID="--spring.security.oauth2.client.registration.google.client-id=@GOOGLE_ID"
            GOOGLE_SECRET="--spring.security.oauth2.client.registration.google.client-secret=@GOOGLE_GOOGLE_SECRET"

            NAVER_ID="spring.security.oauth2.client.registration.naver.client-id=@NAVER_ID"
            NAVER_SECRET="spring.security.oauth2.client.registration.naver.client-secret=@NAVER_SECRET"

            # run app
            killall java
            #java -Dfile.encoding=UTF-8 -jar $JAR_PATH $JDBC_URL $USERNAME $PASSWORD $GOOGLE_ID $GOOGLE_SECRET $NAVER_ID $NAVER_SECRET
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH

container_commands:
  001-command:
      command: sed -i "s/@JDBC_URL=/${SPRING_DATASOURCE_HIKARI_RDS_HOST}/g" /sbin/appstart
  002-command:
      command: sed -i "s/@USERNAME=/${SPRING_DATASOURCE_HIKARI_USERNAME}/g" /sbin/appstart
  003-command:
      command: sed -i "s/@PASSWORD=/${SPRING_DATASOURCE_HIKARI_PASSWORD}/g" /sbin/appstart
  004-command:
      command: sed -i "s/@GOOGLE_ID=/${GOOGLE_ID}/g" /sbin/appstart
  005-command:
      command: sed -i "s/@GOOGLE_GOOGLE_SECRET=/${GOOGLE_GOOGLE_SECRET}/g" /sbin/appstart
  006-command:
      command: sed -i "s/@NAVER_ID=/${NAVER_ID}/g" /sbin/appstart
  007-command:
      command: sed -i "s/@NAVER_SECRET=/${NAVER_SECRET}/g" /sbin/appstart